<html>
    <head>
        <title>Sessions</title>
    </head>
    <body>
        <p>
            <a href="/">Home</a>&nbsp;
            <a href="/Home/SeeGreeting">See Greeting</a>&nbsp;
            <a href="/Home/SetGreeting">Set Greeting</a>&nbsp;
            <a href="/Home/About">About</a>&nbsp;
            <a href="/Home/Contact">Contact</a>&nbsp;
        </p>
        <div>
            @RenderBody()
        </div>
    </body>
</html>