<form action="" method="POST">
    Morning Message <input type="text" name="MorningMessage"/><br/>
    Evening Message <input type="text" name="EveningMessage"/><br/>
    <input type="submit" value="Set"/>
</form>